table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    background-color: #ddd;
    color: black;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);   
.box1{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 10px;
}
.box2{
    width: 150px;
    height: 150px;
    background-color: blue;
    border-radius: 10px;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 10px;
}